<div class="transparent-header-wrapper d-flex-center">
  <div class="transparent-header-left-wrapper d-flex-center">
    <div class="transparent-header-icon-wrapper d-flex-center">
      {% render 'hamburger-icon-white' %}
    </div>
  </div>
  <div class="transparent-header-center-wrapper d-flex-center">
    {% render 'ow-logo-large-white' %}
  </div>
  <div class="transparent-header-right-wrapper d-flex-center">
    <div class="transparent-header-icon-wrapper d-flex-center">
      {% render 'search-icon-white' %}
    </div>
    <div class="transparent-header-icon-wrapper d-flex-center">
      {% render 'profile-icon-white' %}
    </div>
    <div class="transparent-header-icon-wrapper d-flex-center">
      {% render 'bag-icon-white' %}
    </div>
  </div>
</div>
