{% if template != 'index' %}
  <div class="container home-header-wrapper d-flex-center">
    <!-- icons -->
    <div class="home-header-left d-flex-center">
      <a href="/" class="header-icon-wrapper d-flex-center">
        {% render 'hamburger-icon-black' %}
      </a>
      <div class="header-icon-wrapper d-flex-center d-none">
        {% render 'profile-icon-black' %}
      </div>
      <div class="header-icon-wrapper d-flex-center d-none">
        {% render 'search-icon-black' %}
      </div>
      <div class="header-icon-wrapper d-flex-center d-none">
        {% render 'wishlist-icon-black' %}
      </div>
      <div class="header-icon-wrapper d-flex-center d-none">
        {% render 'bag-icon-black' %}
      </div>
    </div>

    <!-- logo -->
    <div class="home-header-center d-flex-center">
      <div class="home-header-logo-wrapper d-flex-center">
        {% render 'ow-logo-small-black', class: 'ow-logo-small' %}
        {% render 'ow-logo-large-black', class: 'd-none ow-logo-large' %}
      </div>
    </div>

    <!-- nav -->
    <div class="home-header-nav d-flex-center">
      {% for link in section.settings['nav-menu'].links %}
        {% comment %} | link_to: link.url  {% endcomment %}
        <div class="home-header-nav-item d-flex-center">{{ link.title | upcase | link_to: link.url }}</div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Header",
  "class": "home-header-section",
  "tag": "header",
  "limit": 1,
  "settings": [
    {
      "type": "link_list",
      "id": "nav-menu",
      "label": "Menu",
      "default": "main-menu"
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}
