<div class="product-wrapper"></div>

{% schema %}
{
  "name": "Header",
  "class": "header-section",
  "tag": "header",
  "limit": 1,
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}
